<h1>Choose a Model</h1>
<div id="models">
  <% for model in @models %>

    <%= link_to model_path(model) do %>
      <% if model.form_factor? :handset %>
        <div class="four columns model">
      <% elsif model.form_factor? :tablet %>
        <div class="eight columns model">
      <% end %>
        <div class="model_inner">
            <div class="image_wrapper"><%= image_tag model.image_url %></div>
            <% if model.os_type.name == "Android" %>
              <div class="os_type os_android"></div>
            <% elsif model.os_type.name == "iOS" %>
              <div class="os_type os_ios"></div>
            <% end %>
        </div>
        <div class="make_and_model">
            <span><%= model.brand.name %></span>
            <h3><%= model.name %></h3>
        </div>
        <div class="availability available">
            <div>
                <%= model.devices.count %><br>
                <span>Available</span>
            </div>
        </div>
      </div>
    <% end %>

  <% end %>
  <div class="clear"></div>
</div>