<div class="eight columns model">
  <div class="model_inner">
      <div class="image_wrapper"><%= image_tag @model.image_url %></div>
      <% if @model.os_type.name == "Android" %>
        <div class="os_type os_android"></div>
      <% elsif @model.os_type.name == "iOS" %>
        <div class="os_type os_ios"></div>
      <% end %>
  </div>
  <div class="make_and_model">
      <span><%= @model.brand.name %></span>
      <h3><%= @model.name %></h3>
  </div>
</div>

<div class="eight columns">
  <h2>Devices</h2>
  <table class="table">
    <thead>
      <th>Device ID</th>
      <th>Model</th>
      <th>OS Version</th>
      <th>&nbsp;</th>
    </thead>
    <% for device in @devices %>
      <tr>
        <td><%= device.id %></td>
        <td><%= link_to device.model.name, device_path(device) %></td>
        <td><%= device.os_version.number %> (<%= device.os_version.name %>)</td>
        <td>
          <%= link_to 'Rent this device', new_rental_path(:device => device.id), :class => 'button button-small' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>