<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="container nav-collapse">
        <ul class="nav">
          <li><%= link_to "Home", home_path  %></li>
          <li><%= link_to "Brands", brands_path  %></li>
          <li><%= link_to "Models", models_path %></li>
          <li><%= link_to "OS Types", os_types_path %></li>
          <li><%= link_to "OS Versions", os_versions_path %></li>
          <li><%= link_to "Devices", devices_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>