<%= simple_form_for @rental, :html => {:multipart => true} do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <%= f.association :device %>
    <%= f.input :requested_date %>
    <%= f.input :approve_date %>
    <%= f.input :loan_date %>
    <%= f.input :end_date %>
    <%= f.input :return_date %>


  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>