<%= simple_form_for @rental, :html => {:multipart => true} do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.association :device, :label_method => lambda { |device| "#{device.model.name} (#{device.IMEI})" }, :selected => params[:device] %>
    <%= f.input :loan_date, :as => :date, :start_year => Date.today.year,
                                :end_year => Date.today.year, :order => [:month, :day, :year],
                                :include_blank => true, :default => nil %>
    <%= f.input :end_date, :as => :date, :start_year => Date.today.year,
                                :end_year => Date.today.year, :order => [:month, :day, :year],
                                :include_blank => true, :default => nil %>

    <% if @current_user.role? :admin %>

      <%= f.association :user, :label_method => lambda { |user| "#{user.andrew}" } %>
      <%= f.input :approve_date, :as => :date, :start_year => Date.today.year,
                                :end_year => Date.today.year, :order => [:month, :day, :year],
                                :include_blank => true, :default => nil %>
      <%= f.input :return_date, :as => :date, :start_year => Date.today.year,
                                :end_year => Date.today.year, :order => [:month, :day, :year],
                                :include_blank => true, :default => nil %>
    <% end %>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>