
<h1>Brands</h1>
  <table class="datagrid">
  <thead class="datagrid">
    <th>Brand</th>
    <th>&nbsp;</th>
  </thead>
  <% for brand in @brands %>
    <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
      <td><%= link_to brand.name, brand_path(brand) %></td>
    <td align="center"><%= brand.created_at.strftime("%B %d, %Y") %></td>
    <td align="center">
    <%= link_to(image_tag("icons/edit_dg.gif", :border => 0), edit_brand_path(brand))  %>&nbsp;
    <%= link_to(image_tag("icons/delete_dg.gif", :border => 0), brand_path(brand), :confirm => 'Are you sure you wish to delete this information?', :method => :delete) %>
    </td>
    </tr>
  <% end %>
</table>