
<h1>Brands</h1>
  <table class="table">
  <thead>
    <th>Brand</th>
    <th>Created on:</th>
    <th>&nbsp;</th>
  </thead>
  <% for brand in @brands %>
    <tr>
      <td><%= link_to brand.name, brand_path(brand) %></td>
    <td><%= brand.created_at.strftime("%B %d, %Y") %></td>
    <td>
      <%= link_to("Edit", edit_brand_path(brand))  %>&nbsp;
      <%= link_to("Delete", brand_path(brand), :confirm => 'Are you sure you wish to delete this information?', :method => :delete) %>
    </td>
    </tr>
  <% end %>
</table>
<%= link_to "Create Brand", new_brand_path, :class => "button button-blue"  %>